.navbar{
  height: 30px;
  background-color: rgb(68, 247, 193);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.links{
  width: 25%;
  align-items: center;
  align-content: center;
  text-align: center;
  /* color: aliceblue; */
}